.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  display: inline-block;
  z-index: 3;
  transition: opacity 0.5s ease-out;
}

.feynman__link:hover {
  opacity: 0.2;
}
