.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  align-self: flex-start;
  color: #2f80ed;
  margin: 0 auto 0 48px;
  transition: opacity 0.5s ease-out;
}

.khan__buy-link:hover {
  opacity: 0.2;
}
